
<script>
$('body').on('click', '.btn-group button', function (e) {
  $(this).addClass('active');
  $(this).siblings().removeClass('active');

  //do any other button related things
});
</script>

<div ng-init="init()">
  <div>
    <span>Gender</span>
    <div class="btn-group" role="group1" aria-label="2" style="width: 100%">
      <button ng-click="setGender('Female');" type="button" class="btn btn-default btn-gender btn-gender-female"><span class="fa fa-female" aria-hidden="true"></span></button>
      <button ng-click="setGender('Male');" type="button" class="btn btn-default btn-gender btn-gender-male"><span class="fa fa-male" aria-hidden="true"></span></button>
    </div>
  </div>

  <div style="padding-top: 20px;">
    <span>Age Range</span>
    <div class="btn-group" role="group2" aria-label="..." style="width: 100%">
      <button ng-click="setIsChild(true);" type="button" class="btn btn-default btn-agerange" style="width: 50%"><span aria-hidden="true">Child</span></button>
      <button ng-click="setIsChild(false);" type="button" class="btn btn-default btn-agerange" style="width: 50%"><span aria-hidden="true">Adult</span></button>
    </div>
  </div>

<div   style="padding-top: 20px;  width: 100%; ">
  <button type="button" class="btn btn-default btn-lg" ng-click="setShowChoose()" style="text-align: left; font-size: 2.5em; width: 100%; padding-top: 10px; height=200px;">
   <span class="fa fa-question" aria-hidden="true"></span>&nbsp;&nbsp;Help Me Choose
  </button>
  <div ng-show="doShowChoose" class="bs-callout bs-callout-info "   style="margin-top: 0; width=100%" ><h4>
      <div style="float: left; width: 50%">
        <b>GP</b>
        <br />
<ul style="margin-left: 20px;">
  <li>  Ear pain</li>
<li>Flu</li>
<li>  Gastro</li>
<li>Minor sports injuries</li>
<li>  Persistent headache</li>
<li>  Sore throat</li>
<li>  Sprained ankle</li>
</ul>
      </div>

      <div style="float: right; width: 50%">
        <b>Pharmacy</b>
        <br />
        <ul style="margin-left: 20px;">
          <li>Cold</li>
  <li>Constipation</li>
  <li>Hay fever</li>
  <li>Mild skin irritation</li>
  <li>Minor grazes</li>
  <li>Nappy rash</li>
  <li>Tinea</li>
        </ul>
      </div>
<br /><br /><br /><br /><br /><br /><br /><br /><br />
    </h4>
  </div>

  <button type="button" class="btn btn-default btn-lg" ng-click="navigateNext('hospital')" style="text-align: left; font-size: 2.5em; width: 100%; padding-top: 10px; height=200px;">
   <span class="fa fa-hospital-o" aria-hidden="true"></span>&nbsp;&nbsp;ED / Hospital
  </button>

  <button type="button" class="btn btn-default btn-lg" ng-click="navigateNext('gp')" style="text-align: left; font-size: 2.5em; width: 100%; padding-top: 10px; height=200px;">
  <span class="fa fa-user-md" aria-hidden="true"></span>  &nbsp;GP / Locum
  </button>
  <button type="button" class="btn btn-default btn-lg" ng-click="navigateNext('pharmacy')" style="text-align: left; font-size: 2.5em; width: 100%; padding-top: 10px; height=200px;">
  <span class="fa fa-plus-square" aria-hidden="true"></span>  &nbsp;Pharmacy
  </button>
  <button type="button" class="btn btn-default btn-lg" ng-click="navigateNext('community')" style="text-align: left; font-size: 2.5em; width: 100%; padding-top: 10px; height=200px;">
  <span class="fa fa-users" aria-hidden="true"></span>  Community
  </button>

</div>

</div>
</div>
