
<div ng-init="init()">
  <div class="bs-callout bs-callout-warning">

    If you or the patient have any of these symptoms:
    <br />
<ul>
  <li>central or crushing chest pain</li>
  <li>unconsciousness or suffering a seizure (fit)</li>
  <li>difficulty breathing or turning blue</li>
  <li>badly bleeding</li>
  <li>victim of a severe accident.</li>
</ul>
<br />
Then call triple zero (000) and ask for an ambulance

  </div>
  <div class='bigredbutton'>
    
  </div>
    <!-- <button class="btn" ng-click="addItem();">Add</button>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-4 h3">Description</div>
            <div class="col-sm-4 h3">Code</div>
        </div>
    </div>
    <div class="container-fluid item-container">
        <div class="row" ng-repeat="item in Products">
            <div class="col-sm-1"><button class="btn-sm" ng-click="selectItem(item.Id);">Edit</button></div>
            <div class="col-sm-4">{{item.Description}}</div>
            <div class="col-sm-4">{{item.Code}}</div>
        </div>
    </div> -->
</div>
