
<div ng-init="init()">
  <div class="top-button">
  <button type="button" class="btn btn-default btn-lg" ng-click="navigateNext()">
    Continue <span class="glyphicon glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span>
  </button>
</div>
  <div class="bs-callout bs-callout-warning info-text" >

    If you or the patient have any of these symptoms:
    <br />
<ul>
  <li>central or crushing chest pain</li>
  <li>unconsciousness or suffering a seizure (fit)</li>
  <li>difficulty breathing or turning blue</li>
  <li>badly bleeding</li>
  <li>victim of a severe accident.</li>
</ul>
<br />
Then call triple zero (000) and ask for an ambulance





  </div>

<div width="100%" style="margin: auto;">
  <div>
  <a href="tel:0418801084"><div class='bigredbutton'  >

  </div></a></div>
</div>
</div>
