<div ng-init="init()">
  <div ng-repeat="item in list">
    <div class="list-group">
      <div class="list-group-item">
        <a href="tel:{{item.PhoneNumber}}">
        <h4 class="list-group-item-heading">{{item.Name}}</h4>

        <p class="list-group-item-text">Phone: {{item.PhoneNumber}}
        </p>
        <div style="float: right; font-size: 3em; padding-left: 15px; "><span class="fa fa-taxi" aria-hidden="true"></span></div>
      </a>
      </div>
    </div>
  </div>
</div>
