
@font-face
{
  font-family: 'fontawesome';
  src: url('//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf');
}

div.bigredbutton{
  background: url('../style/bigredbutton.jpg');
  height : 70%;
  width : 70%;
  background-size: contain;
  background-repeat:no-repeat;
  overflow-y: hidden;
  overflow-x: hidden;
  text-align: center;
  margin-left: 50px;
}

.btn-gender
{
  width: 50%;
  height: 50px;
  font-size: 36px;
}

.btn-gender-male
{
  background-color: lightblue;
  color: black;
}

.btn-gender-female
{
background-color: pink;
color: black;
}

.btn-gender-male .active
{
  background-color: lightblue;
}

.btn-gender-female .active
{
background-color: pink;
}

div.info-text
{
  float: left;
}
div.top-button
{
  float: right;
}
/* Side notes for calling out things
-------------------------------------------------- */

/* Base styles (regardless of theme) */
.bs-callout {
  margin: 0px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
}
.bs-callout h4 {
  margin-top: 0;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
  background-color: #fff;
}

/* Themes for different contexts */
.bs-callout-danger {
  background-color: #fcf2f2;
  border-color: #dFb5b4;
}
.bs-callout-warning {
  background-color: #fefbed;
  border-color: #f1e7bc;
}
.bs-callout-info {
  background-color: #f0f7fd;
  border-color: #d0e3f0;
}
